@{ 
    ViewBag.Title= "Home";
}

<div>
    <div>
        This is the homepage<br />Below would be categories of products<br />For Example:<br /><br /><br />Fasteners<br /><br /><br />Soaps<br /><br /><br />Protective Equipment -Maybe?
    </div>
</div>